

#contentaide{
position:fixed;
top:200px;
right:20px;
left:20px;
bottom:50px;
background-color:#28235e;
border-radius: 10px 10px 10px 10px;
}

#corpsaide{
position:fixed;
top:255px;
right:35px;
left:35px;
bottom:65px;
border-radius: 10px 10px 10px 10px;
background-color:#FFFFFF;
overflow-y:scroll;
overflow-x:hidden;
}

#aideenligne{
color:#b8d442;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight:bold;
text-align:center;
}

#lien{
cursor:pointer;
position:relative;
bottom:40px;
left:10px;
text-decoration : none;
position: relative;
color:#fff;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
text-align:left;
}

#lien:hover {
color: #b8d442;
text-decoration:underline;
}

#p1{
position:relative;
left:10px;
text-decoration:underline;
font-weight:bold;
font-family: 'Montserrat', sans-serif;
}
#p2{
position:relative;
left:10px;
font-family: 'Montserrat', sans-serif;
}
#cadrequestion{
position:relative;
background-color:#D8E3E2;
}


