html{
margin:0;
padding:0;
background-image:url(../images/home.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
-webkit-background-size: cover; /* pour Chrome et Safari */
-moz-background-size: cover; /* pour Firefox */
-o-background-size: cover; /* pour Opera */
background-size: cover; 
background-position:center left;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}

header{
background-color:#28235e;
position:absolute;
left:0;
width:100%;
top:0;
height:169px;
z-index:1;
min-width:1300px;
}

#head{
height:169px;
width:930px;
margin:0 auto;
}

#head #head_left {
display:block;
margin-top:40px;
}


#contentconnexion{
position:fixed;
top:200px;
left:30%;
right:30%;
height:375px;
background-color:#28235e;
border-radius: 10px 10px 10px 10px;
}

#corpsconnexion{
position:fixed;
top:255px;
left:32.5%;
right:32.5%;
height:275px;
border-radius: 10px 10px 10px 10px;
background-color:#fff;
overflow:auto;
}

#titreConnexion{
position: relative;
top:-10px;
color:#b8d442;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
font-weight:bold;
text-align:center;
}

#lien{
cursor:pointer;
position:absolute;
top:35px;
left:-170px;
text-decoration : none;
position: relative;
color:#b8d442;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
text-align:left;
}

#lien:hover {
color: #fff;
text-decoration:underline;
}


#p1{
color:#000;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight:bold;
text-align:center;
text-indent:10px;
}

#login{
text-align:center;
margin-top:30px;
}

#motDePasse{
text-align:center;
margin-top:50px;
}

#BoutonConnexion{
text-align:center;
margin-top:20px;
}


.requis{
color:red;
}

#infoconnexion{
text-align:center;	
}

#messageErreurConnexion{
color:red;
text-align:center;
font-size:0.7em;
}

#messageConnexion{
color:green;
text-align:center;
font-size:0.7em;
}