html{
margin:0;
padding:0;
background-image:url(../images/home.jpg);
background-repeat:no-repeat;
background-attachment:fixed;
-webkit-background-size: cover; /* pour Chrome et Safari */
-moz-background-size: cover; /* pour Firefox */
-o-background-size: cover; /* pour Opera */
background-size: cover; 
background-position:center left;
font-family: Arial, Helvetica, sans-serif;
color: #000;
}


header{
background-color:#28235e;
position:absolute;
left:0;
right:0;
width:100%;
top:0;
height:169px;
z-index:1;
overflow-x:hidden;
overflow-y:hidden;
}


#head_left {
position:relative;
top:40px;
left:10%;
}


#redirection{
padding:10px;
position:relative;
top:300px;
left:10%;
width:80%;
background-color:#28235e;
color:white;
font-size:1.2em;
}

#lienRedirection{
text-decoration: underline;
color:#b8d442;
}

#lienRedirection:active{
text-decoration: underline;
color:red;
}


                                                 