.CSSTable {
background-color:#ffffff;
position:absolute;
top:80px;
right:15px;
margin:0px;padding:0px;
width:100%;
box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;
height:350px;
overflow-y:scroll;
}

.CSSTable table{
border-collapse: collapse;
border-spacing: 0;
width:100%;
height:100%;
margin:0px;padding:0px;
-moz-border-radius-topright:9px;
-webkit-border-top-right-radius:9px;
border-top-right-radius:9px;
-moz-border-radius-topleft:9px;
-webkit-border-top-left-radius:9px;
border-top-left-radius:9px;
}

.CSSTable tr{	
background-color:#b8d442;
color:#28235e;
}

.CSSTable tbody tr:hover td{	
background-color:#28235e;
color:#ffffff;
}

.CSSTable tbody tr:hover td a{
text-decoration:underline;
color:#ffffff;
}

.CSSTable th{
border:1px solid #000000;
border-width:0px 1px 1px 0px;    
}

.CSSTable td{
vertical-align:middle;
background-color:#ffffff;
border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:center;
padding:6px;
font-size:10px;
font-family:Arial;
font-weight:bold;
color:#28235e;
}


.CSSTabletva {
background-color:#ffffff;
position:absolute;
top:80px;
right:15px;
margin:0px;padding:0px;
width:100%;
box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;
height:100px;
}

.CSSTabletva table{
border-collapse: collapse;
border-spacing: 0;
width:100%;
height:100%;
margin:0px;padding:0px;
-moz-border-radius-topright:9px;
-webkit-border-top-right-radius:9px;
border-top-right-radius:9px;
-moz-border-radius-topleft:9px;
-webkit-border-top-left-radius:9px;
border-top-left-radius:9px;
}

.CSSTabletva tr{	
background-color:#b8d442;
color:#28235e;
}

.CSSTabletva th{
border:1px solid #000000;
border-width:0px 1px 1px 0px;    
}

.CSSTabletva td{
vertical-align:middle;
background-color:#ffffff;
border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:center;
padding:6px;
font-size:14px;
font-family:Arial;
font-weight:bold;
color:#28235e;
}

